.header {
  background-color: #2a6fba;
  position: relative;
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  background-image: url(../img/hero-img.jpg);
  clip-path: ellipse(180% 100% at top);
}
