$lk-device-total-width: 335px;
$lk-device-total-height: 652px;
$lk-device-width: 275px;
$lk-device-height: 592px;

.lk-entry {
  text-align: right;
  &__img {
    width: $lk-device-total-width;
    height: $lk-device-total-height;
  }
  &__wrapper {
    display: inline-block;
    margin-bottom: -60px;
    position: relative;
    text-align: center;
  }
  &__form-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 55px;
    overflow: visible;
  }
  &__form {
    position: absolute;
    padding-top: 42px;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    margin: 15px;
  }
  &__title {
    font-size: 16px;
    line-height: 24px;
    color: #fff;
    margin-bottom: 175px;
  }
  &__fieldset {
    padding-right: 30px;
    padding-left: 30px;
    margin-bottom: 65px;
    font-weight: 500;
    > input {
      width: 100%;
      max-height: 100%;
      min-height: 30px;
      padding: 8px;
      margin-bottom: 12px;
      font-size: 10px;
      line-height: 10px;
      color: #999;
      background-color: #ebebeb;
      border: 1px solid #96b6d2;
      border-radius: 8px;
      outline: none;
      &[type="submit"] {
        color: #fff;
        border: 1px solid #195ca8;
        background: linear-gradient(
          to bottom,
          rgba(39, 107, 175, 1) 0%,
          rgba(53, 72, 126, 1) 100%
        );
      }
    }
  }
  &__instruction {
  }
  &__subtitle {
    margin-bottom: 8px;
    font-size: 14px;
    line-height: 16px;
    color: #1752aa;
    font-weight: 500;
    > small {
      display: block;
      margin-top: 16px;
      color: #778394;
    }
  }
  &__recover {
    font-size: 10px;
    line-height: 14px;
    color: #5584bd;
    font-weight: 500;
  }
}
