.site-navbar {
  @include span(full);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 18px;
  padding-bottom: 18px;
  margin-bottom: 84px;
  a {
    &:link,
    &:visited {
      color: #fff;
    }
  }
  &__brand {
    display: inline-block;
    position: relative;
    margin-top: -10px;
    > svg {
      display: block;
    }
    > span {
      display: block;
      position: absolute;
      top: 30px;
      left: 0;
      max-width: 100%;
    }
  }
  &__menu {
    // display: inline-block;
    // margin-left: auto;
  }
  &__items {
    @include scut-list-inline();
    // display: inline-block;
  }
  &__btn {
    // display: inline-block;
  }
  .logo-2 {
    display: block;
    width: 100%;
    line-height: 1px;
  }
}

.site-navbar__brand {
  @include span(2 wide of 12);
}

#main-logo {
  vertical-align: baseline;
}
