.site-footer {
  &__creator {
    @include span(full);
    padding: 36px 0;
    text-align: center;
    color: #fff;
    > p {
      font-size: 14px;
      line-height: 16px;
      margin-bottom: 0;
    }
  }
  &__brand {
    color: #e70067;
    &,
    &:link,
    &:visited {
      color: #e70067;
    }
    &:hover,
    &:active,
    &:focus {
      color: #fff;
      text-decoration: none;
    }
  }
  &--bottom {
    @include span(full);
    background-color: #39649d;
    .site-menu {
      &__items {
        @include span(full);
      }
      &__item {
        &--phone {
          display: inline-block !important;
        }
      }
      &__btn {
        display: none;
      }
    }
    .site-navbar {
      padding-top: 60px;
      padding-bottom: 50px;
      margin-bottom: 0;
      border-bottom: 1px solid #335b91;
      &__brand {
        width: 160px;
        margin-top: 0;
      }
    }
    .logo-2 {
      display: none;
    }
  }
}
