.hero {
  @include span(8 of 12);
  @include push(2 of 12);
  margin-bottom: 210px;
  text-align: center;
  color: #fff;
  &__heading {
    margin-bottom: 36px;
    color: #fff;
  }
  &__annotation {
    margin-bottom: 48px;
    font-size: 24px;
    line-height: 36px;
  }
}
