.functions {
  color: #60759d;
  padding-top: 160px;
  padding-bottom: 100px;
  background-color: #f1f3fb;
  clip-path: ellipse(180% 100% at bottom);
  &__heading {
    margin-bottom: 50px;
  }
  &__list {
    @include scut-list-unstyled();
  }
  &__list-item {
    @include gallery(4 narrow of 12);
    padding-right: map-get($susy, "column-width");
    padding-left: map-get($susy, "column-width");
    text-align: center;
    margin-bottom: 72px;
    padding-top: 100px;
    position: relative;
    &:before {
      content: " ";
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      margin-right: auto;
      margin-left: auto;
      width: 80px;
      height: 80px;
      border: 1px solid rgba(#16afe0, 0.25);
      border-radius: 50px;
      background-repeat: no-repeat;
      background-size: 40%;
      background-position: 50%;
    }
  }
  &__plan {
    &:before {
      @extend %icon-plan;
    }
  }
  &__notification {
    &:before {
      @extend %icon-notification;
    }
  }
  &__diary {
    &:before {
      @extend %icon-diary;
    }
  }
  &__remote {
    &:before {
      @extend %icon-remote;
    }
  }
  &__communication {
    &:before {
      @extend %icon-communication;
    }
  }
  &__info {
    &:before {
      @extend %icon-info;
    }
  }
  &__info {
    &:before {
      @extend %icon-info;
    }
  }
}
