.monitor {
  $counter-circle-width: 124px;
  $counter-font-size: 60px;
  padding-top: 150px;
  padding-bottom: 190px;
  color: #60759d;
  overflow-x: hidden;
  .row {
    display: flex;
  }
  &__info {
    @include span(7 narrow of 12);
  }
  &__heading {
    margin-bottom: 90px;
    text-align: center;
    font-size: 36px;
    line-height: 54px;
    font-weight: 400;
  }
  &__text {
    margin-bottom: 0;
  }
  &__list {
    @include scut-list-unstyled();
    &-item {
      position: relative;
      counter-increment: step-counter;
      margin-bottom: 56px;
      padding-left: 60px;
      // @include push(1 of 12);
      &-block {
        position: relative;
        padding: 30px 10px 0;
        margin: -30px -10px 0;
        background-color: #fff;
        z-index: 1;
      }
      &:before,
      &:after {
        position: absolute;
        width: $counter-circle-width;
        height: $counter-circle-width;
        top: 0;
        left: -48px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: rgba(#23b3e2, 0.25);
      }
      &:before {
        content: " ";
        border-radius: 500px;
        border: 1px solid rgba(#16afe0, 0.25);
        // z-index: -1;
      }
      &:after {
        content: counter(step-counter);
        font-size: $counter-font-size;
        line-height: 54px;
        // z-index: 1;
      }
    }
    &-heading {
      position: relative;
      font-size: 24px;
      line-height: 36px;
      font-weight: 500;
      margin-bottom: 10px;
    }
    &-text {
      font-size: 16px;
      line-height: 24px;
      margin-bottom: 0;
    }
  }
  &__img {
    @include span(5 wider last of 12);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    > img {
      display: block;
      min-width: 100%;
      margin-right: -145px;
      height: auto;
    }
  }
}
