.what {
  padding-top: 150px;
  padding-bottom: 130px;
  position: relative;
  color: #60759d;
  position: relative;
  z-index: 10;
  &:before {
    background-image: url(data:image/svg+xml;charset=utf-8;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA5NzAuNiA0Ny40Ij48cGF0aCBzdHlsZT0iZmlsbDojZmZmIiBkPSJNMCA0LjV2NDIuOWg5NzAuNlYwYy0xMzIgMjMuNi0zMDYuOCAzOC00OTguNSAzOEMyOTIuOSAzOCAxMjguNiAyNS40IDAgNC41eiIvPjwvc3ZnPg==);
  }
  &:after {
    background-image: url(data:image/svg+xml;charset=utf-8;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA5NzAuNiA0Ny40Ij48cGF0aCBzdHlsZT0iZmlsbDojZmZmIiBkPSJNOTcwLjYgNDIuOVYwSDB2NDcuNGMxMzIuMS0yMy42IDMwNi45LTM4IDQ5OC41LTM4IDE3OS4yIDAgMzQzLjYgMTIuNiA0NzIuMSAzMy41eiIvPjwvc3ZnPg==);
  }
  .row {
    display: flex;
    align-items: center;
  }
  &__heading {
    text-align: left;
    margin-bottom: 20px;
    white-space: nowrap;
  }
  &__annotation {
    margin-bottom: 16px;
    font-weight: 500;
  }
  &__list {
    @include scut-list-unstyled();
    padding-left: 0;
    margin-bottom: 36px;
    color: #60759d;
    &-item {
      position: relative;
      padding-left: 16px;
      margin-bottom: 16px;
      font-weight: 500;
      &:before {
        content: " ";
        position: absolute;
        width: 5px;
        height: 5px;
        top: 10px;
        left: 0;
        border-radius: 5px;
        background-color: #16afe0;
      }
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
  &__img {
    @include span(5 of 12);
  }
  &__info {
    @include span(6 of 12);
  }
  .btn {
    @include span(2 wide of 7);
  }
}
