.form-section {
  text-align: center;
  color: #60759d;
  background-color: #e4e6f2;
  padding-top: 140px;
  padding-bottom: 160px;
  &__heading {
    margin-bottom: 40px;
  }
  &__form {
    @include span(10 of 12);
    @include push(1 of 12);
  }
  &__fieldset {
    @include span(6 of 10);
    @include push(2 of 10);
  }
  &__description {
    font-size: 24px;
    line-height: 36px;
    margin-bottom: 56px;
    font-weight: 500;
  }
  &__email-input {
    @include span(4 of 6);
    font-size: 14px;
    line-height: 16px;
    text-align: left;
    color: #727881;
    border-color: #4f699b;
  }
  &__btn {
    @include span(2 of 6 last);
  }
}
