.section {
  &__heading {
    font-size: 36px;
    line-height: 54px;
    margin-bottom: 36px;
    font-weight: 500;
  }
}

.site-section {
  max-width: 1517px;
  padding-right: 40px;
  padding-left: 40px;
}
