.site-menu {
  @include span(8 last of 12);
  display: flex;
  align-items: center;
  justify-content: flex-start;
  // display: flex;
  // align-items: center;
  // margin: 0;
  // margin-left: auto;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  &__items {
    @include span(5 wide of 8);
    display: flex;
    justify-content: space-between;
  }
  &__item {
    // margin-right: 42px;
    margin-left: 10px;
    font-weight: 400;
    &:first-child {
      margin-left: -10px;
    }
    &:last-child {
      margin-right: -10px;
    }
    &--phone {
      display: none !important;
    }
  }
  &__link {
    padding: 10px;
  }
  &__link,
  &__btn {
    font-weight: 700;
    transition: all 0.25s;
    &,
    &:link,
    &:visited {
      color: #fff;
    }
    &:hover,
    &:active {
      opacity: 0.75;
      text-decoration: none;
    }
  }
  &__btn {
    @include span(2 last wide of 8);
    margin-left: auto;
    padding-top: 21px;
    padding-bottom: 21px;
    font-size: 16px;
    line-height: 16px;
  }
}
