%btn-common {
  font-size: 16px;
  line-height: 24px;
  padding: 18px 30px;
  font-weight: 500;
  border: 1px solid transparent;
  transition: all 0.25s;
}

.btn {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  user-select: none;
  background-color: transparent;
  border: $btn-border-width solid transparent;

  &:focus,
  &.focus {
    outline: 0;
    // box-shadow: $btn-focus-box-shadow;
  }
}

// Future-proof disabling of clicks on `<a>` elements
a.btn.disabled,
fieldset:disabled a.btn {
  pointer-events: none;
}

//
// Block button
//

.btn-block {
  display: block;
  width: 100%;

  // Vertically space out multiple block buttons
  + .btn-block {
    margin-top: $btn-block-spacing-y;
  }
}

// Specificity overrides
input[type="submit"],
input[type="reset"],
input[type="button"] {
  &.btn-block {
    width: 100%;
  }
}

.btn {
  // font-size: 16px;
  // line-height: 24px;
  // padding: 18px 30px;
  // transition: all 0.25s;
  @extend %btn-common;
  &,
  &:link,
  &:visited {
  }
  &:hover,
  &:active {
    text-decoration: none;
  }
  &-circle {
    border-radius: 50px;
  }
  &-opaque {
    background-color: transparent;
    border-color: rgba(255, 255, 255, 0.25);
    &:hover,
    &:active {
      background-color: rgba(255, 255, 255, 0.1);
      border-color: #fff;
    }
  }
  &-primary {
    background-color: #e70067;
    &,
    &:link,
    &:visited {
      color: #fff;
    }
    &:hover,
    &:active {
      background-color: darken(#e70067, 5%);
    }
  }
}
