// $spacer: 12px;
$enable-rounded: false;
// $enable-grid-classes: false;
// $enable-caret: false;

$font-family-sans-serif: "cera_round", -apple-system, BlinkMacSystemFont,
  "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
  "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !default;
