$susy: (
  flow: ltr,
  math: static,
  output: float,
  gutter-position: after,
  container: auto,
  container-position: center,
  columns: 12,
  gutters: (
    40px / 60px
  ),
  column-width: 60px,
  global-box-sizing: border-box,
  last-flow: to,
  debug: (
    // image: show,
      image: hide,
    color: rgba(#66f, 0.25),
    output: background,
    toggle: top right
  ),
  use-custom: (
    background-image: true,
    background-options: false,
    box-sizing: true,
    clearfix: false,
    rem: true
  )
);

body {
}

.container {
  @include container();
  @include show-grid(overlay);
}

.row {
  @include clearfix();
}

.col {
  @include span(1 of 12);
  &.last {
    @include last();
  }
  &-4 {
    @extend .col;
    @include span(3 of 12);
  }
  &-4 {
    @extend .col;
    @include span(4 of 12);
  }
  &-5 {
    @extend .col;
    @include span(5 of 12);
  }
  &-7 {
    @extend .col;
    @include span(7 of 12);
  }
}

.row-test {
  @include list-unstyled();
  .col {
    height: 30px;
    background: orange;
  }
}

.site-section {
  // max-width: 1520px;
  // padding-right: 180px;
  // padding-left: 180px;
  margin-left: auto;
  margin-right: auto;
}
